<header id="necklace_header" class="img-responsive">


  <img src="/assets/rand_headers/<%= @random_image%>", style='height:auto;width:100%;' >
	
	<h1 ><%= @label.name %></h1>
</header>




<div class="container-fluid">
<div class="row product_top">
 
<% @products.each do |product| %>
<div class="col-lg-3 col-sm-6 col-xs-12 center-block " >
  
  <%= link_to product_path (product) do %>
   <%= image_tag product.image.url(:medium), class: "img-responsive"%>
  <% end %>

  <div class="product_description">

    <h5><%= link_to product.title, product %></h5>

    
    <p class="price"> <%= number_to_currency(product.price_usd, :unit => "€ ", :precision => 0 )%> | <%= number_to_currency(product.price_isl.to_i, :unit => "IKR ", :precision => 0) %></p>
    <p><%= social_share_button_tag(product.title) %></p>

  </div>
      

  </div>
 <% end %>
 
  </div>
  </div>



