<%= form_for @order do |f| %>
	<%= render 'msg' %>

	<div class="container">
		<div class="col-md-10">
			<h3>Please Enter Your Details</h3>
		</div>


	<div class="form-group">
		<div class="col-md-10">
			<%= f.label :name %>
			<%= f.text_field :name, size: 40, class: 'form-control' %>
		</div>
	</div>	

	<div class="form-group">
		<div class="col-md-10">
			<%= f.label :email%>
			<%= f.email_field :email, size: 40, class: 'form-control' %>
		</div>
	</div>	

	<div class="form-group">
		<div class="col-md-10">
			<%= f.label :address %>
			<%= f.text_area :address, cols: 40, class: 'form-control' %>
		</div>
	</div>	

	<div class="form-group">
		<div class="col-md-10">
			<%= f.label :city %>
			<%= f.text_field :city, size: 40, class: 'form-control' %>
		</div>
	</div>	
	
	<div class="form-group">
		<div class="col-md-5">
			<%= f.label :country %>
			<%= f.country_select :country, { priority_countries: [ "IS", "US", "DE", "ES", "PT" ]}, { class: "form-control" }%>
		</div>

		<div class="col-md-5">
		<%# if :country == "Iceland" %>

			<div class="btn-group" data-toggle="buttons-radio">
  			<%= f.radio_button :city, "ABC", :id=>"first", :style=>"display:none;" %>
  			<label for="first" class="btn btn-primary">First</label>

  			<%= f.radio_button :city "PQR", :id=>"second", :style=>"display:none;" %>
  			<label for="second" class="btn btn-primary">Second</label>

  			<%= f.radio_button :city, "MNO", :id=>"third", :style=>"display:none;" %>
  			<label for="third" class="btn btn-primary">Third</label>
			</div>

			<%# end %>
		</div>
	</div>	



	<div class="form-group">
	
		<div id="payment-form"></div>
		
		<div class="col-md-10">
			<br>
			<%= f.submit 'Place Order', class: 'buttons' %>
		
		</div>
	</div>	


	</div>
<% end %>