<%= form_for @order do |f| %>
	<%= render 'msg' %>

	<div class="container">
		<div class="col-md-10">
			<h3>Please Enter Your Details</h3>
		</div>


	<div class="form-group">
		<div class="col-md-10">
			<%= f.label :name %>
			<%= f.text_field :name, size: 40, class: 'form-control' %>
		</div>
	</div>	

	<div class="form-group">
		<div class="col-md-10">
			<%= f.label :email%>
			<%= f.email_field :email, size: 40, class: 'form-control' %>
		</div>
	</div>	

	<div class="form-group">
		<div class="col-md-10">
			<%= f.label :address %>
			<%= f.text_area :address, cols: 40, class: 'form-control' %>
		</div>
	</div>	

	<div class="form-group">
		<div class="col-md-10">
			<%= f.label :city %>
			<%= f.text_field :city, size: 40, class: 'form-control' %>
		</div>
	</div>	
	
	<div class="form-group">
		<div class="col-md-5">
			<%= f.label :country %>
			<%= f.country_select :country, { priority_countries: [ "IS", "US", "DE", "ES", "PT" ]}, { class: "form-control" } %>
		</div>

	</div>	
		
		<br>
	
		<div class="row">

		<div class="col-md-5 pick-up-buttons" id="country_div">

		

		<li><%= f.radio_button :pick_up, "1", checked: false, data: { question: "Sækja pöntun í verslun á Fiskislóð 75, 101 Reykjavík" } %> 

		<%= f.label :pick_up, "Sækja pöntun í verslun á Fiskislóð 75, 101 Reykjavík" %></li>

         <li><%= f.radio_button :pick_up, "0", checked: true,  data: { question: "Fá pöntun senda heim að dyrum með Íslandspósti. Ef verslað er fyrir meira en 15.000 kr. fellur sendingarkostnaður niður." } %> 

         <%= f.label :pick_up, "Fá pöntun senda heim að dyrum með Íslandspósti. Ef verslað er fyrir meira en 15.000 kr. fellur sendingarkostnaður niður." %></li>

    
   
  </div> 	

  <div class="col-md-5" id="delivery">

  <table style="width:100%" >

  <% if @cart.total_price_usd + @del_cost_euro <= 145 %>
  <tr>
    <th><p>Products Total: </p></th>
    <th><p>Delivery Cost: </p></th>
    <th><p>Total Cost: </p></th>
  </tr>
  <tr>
 
    <td><p><%= @cart.total_price_usd %></p></td>

    <td><p><%= @del_cost_euro %> </p></td>
    <td><%= @cart.total_price_usd + @del_cost_euro %></td>

  </tr>
</table>
  <% else %>
  <table style="width:100%" >
<p>No delivery cost</p>
   <tr>
    <th><p>Products Total: </p></th>
    
    <th><p>Total Cost: </p></th>
  </tr>
  <tr>
 
    <td><p><%= @cart.total_price_usd %></p></td>

    <td><p><%= @del_cost_euro %> </p></td>

  </tr>

<% end %>

</table>
  </div>


  	</div>
	</div>	

	<div class="form-group">
	
		<div id="payment-form"></div>
		
		<div class="col-md-10">
			<br>
			<%= f.submit 'Place Order', class: 'add-to-cart' %>
		
		</div>
	</div>	


	</div>
<% end %>



<script>
	


window.onload = function() {
  $("#order_country").change(function() {
    var val = $(this).val();
    $("#country_div").toggle(val == "IS");
  });
};
</script>

