<header id="necklace_header" class="img-responsive">


  <img src="/assets/rand_headers/<%= @random_image%>", style='height:auto;width:100%;' >
	
	
</header>


<div class="container">
<div class="row">
  <div class="col-xs-12 col-md-4 img-wrapp">


	 <%=image_tag("about/about6.png", class: "img-responsive" ) %>
	
	</div>
		<div class="col-xs-12 col-md-4">

			<div class="text-wrapp">
				<p>Hlín Reykdals passion for fine art and design evoked this beautiful accessories collection. Her approach to the product is inspired by her upbringing as a daughter of two artists. Design from a painters point of view.
				Hlín Reykdal is born in Reykjavik, Iceland and graduated from the Iceland Academy of Arts majoring in fashion design in 2009. After a successful start in accessories design Reykdal and her husband Hallgrimur decided to embark on a serious business adventure. Reykdals intriguing design soon became known for her extraordinary eye for color and silhouettes whilst maintaining an impeccable standard of production.</p> 
			</div>
		</div>	
		<div class="col-xs-12 col-md-4">

			<div class="text-wrapp">
				<p>
				The combination of talents with Hlin being a designer and her husband being a civil engineer they make a strong dynamic team. With their dedication, hard work and determination they managed to stock the brand in 10 high end boutiques in two countries within the first year. The product is hand made by Reykdal and her husband and therefor produced in Iceland with high quality materials. Each bead is hand painted and threaded with deep attention to detail. Everyday Reykdal challenges herself to use daring and provocative color coordinations which in turn delivers a unique outcome. To date there are no two pieces the same. 

				</p>
			</div>
		</div>
</div>



<div class="row">
	<div class="col-xs-12 col-md-4 img-wrapp">


	 <%=image_tag("about/about9.png", class: "img-responsive" ) %>
	
	</div>

  <div class="col-xs-12 col-md-4 img-wrapp">


   <%=image_tag("about/about8.png",  class: "img-responsive" ) %>
 
  </div>

  <div class="col-xs-12 col-md-4 img-wrapp">


   <%=image_tag("about/about7.png",  class: "img-responsive" ) %>
 
  </div>
</div>
	

</div>

<div class="row" id="bottom-head-about">
	

</div>


