<% @cart.product_items.each do |item| %>

	<table class="table">
		<tr>
			<th>Quantity</th>
			<th>Name</th>
			<th>Price &euro;</th>
			<th>Price ISK</th>
			<th>Image</th>

		</tr>
		<tr>
			<td><%= item.quantity %>&times; </td>
			<td><%= item.product.title %></td>
			<td><%= number_to_currency(item.total_price_usd, :unit => '€ ', :precision => 0)%></td>
			<td><%= number_to_currency(item.total_price_isl.to_i, :unit => "ISK ", :precision => 0) %></td>
			<td><%= image_tag item.product.image.url(:thumb) %></td>
			
		</tr>

	</table>

	
<%end %>


<%#= button_to product_product_item_path(params[:product_id]), method: :delete, class: 'buttons-style' do %>
          <!--<i class="fa fa-shopping-cart"></i>Remove from to Cart -->
<%# end %>
