<div class="row product_top">

<h3> Your Cart </h3>
<div class="container ">

<h2> Cart Details </h2>

<br>

<%= render 'carts/cart' %>
<br>
<h5>Total: <%= number_to_currency @cart.total_price %> </h5>
<br>
	<%= button_to 'Checkout', new_order_path, method: :get %>
<br>
<%= link_to 'Back', root_path %>
<br>
<%= link_to 'Empty Your Cart', @cart, method: :delete, data: {confirm: 'Are You Sure?'} %>

</div>
</div>
