<footer id="footer" class="footer">
<div class="container-fluid">
      <div class="row">
        

        <div class="col-xs-12 col-md-3 text-center" id="footer_nav">
        
      
         <ul>
         <li>Fiskislóð 75</li>
          <li>101, Reykjavík</li>
          <li><a href="tel:+354-5711407">+354-5711407</a>
          <h5>Open</h5>
          <li> Mon - Fri: 11-18 </li>
          <li> Sat: 11-16 </li>
          <li> Sun: Closed </li>
          </ul>

        </div>
       
         <div class="col-xs-12 col-md-3 text-center pull-right" id="footer_nav">
            <ul>  
                        <h5>Categories</h5>
                         <% @categories.each do |category| %>
                            <li><%= link_to category.name, category %></li>
                        <% end %>  
            </ul>
           
            </div>  
            <div class="col-xs-12 col-md-3 text-center pull-right" id="footer_nav">
                <ul>
                      <h5>Labels</h5>
                
                       <% @labels.each do |label| %>
                            <li><%= link_to label.name, label %></li>
                        <% end %>   
                              
                </ul>   
                    
            </div>          
            
                
              <div class="col-xs-12 col-md-3 text-center pull-right" id="footer_nav">

              <h5>Info</h5>
                    <ul>                   
                         <li><%= link_to "About", about_path %></li>
                        
                        <li><%#= link_to "Stockists", stockists_path %></li> 
                    
                        
                        <li><%= link_to "Location", location_path %></li>
                        
                        <li><%= link_to "Help", help_path %></li> 
                        
                    </ul>
             </div>

      </div>
             <div class="row footer-bottom text-center">
          <ul>
            <li><a href="https://www.instagram.com/hlinreykdalstudio/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>

            <li> <a href="https://www.facebook.com/Hl%C3%ADn-Reykdal-208910763506/?fref=ts"> <i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>

            <li><i class="fa fa-envelope" aria-hidden="true"></i></li>
          </ul>
        </div>
    </div>

       
      
    </footer>