

<div class="row product_top">
    
    <div class="container">
	 
    

    <div class="col-xs-12 col-sm-6 center-block">
    
       
     <div class="product_description">

        <h3><%= @product.title %></h3>
        <h4><%#=@product.material %></h4>
        <p><%= @product.description %></p>
        <p class="price"> Designer: </p>
        <p><%= @product.label.label_name %></p>

            <% if @product.stock_quantity >= 1 %>
        <p>In stock: <%= @product.stock_quantity %> </p>

            <% else %>

            <p> Out of stock </p>

            <% end %>
     </div>
      	<div class="col-xs-12">
       	 <p> Price: <%= number_to_currency(@product.price_usd, :unit => "€" , :precision => 0, class: 'price') %> | <%= number_to_currency(@product.price_isl.to_i, :unit => "IKR" , :precision => 0) %></p>
    	</div>

       <%# if @product.stock_quantity >= 1 %>
    	<div class="row add_to_cart">	
        	<p><%#= link_to 'Add to cart', add_cart_path, method: :post %></p>
          <%# else %>
          <!--<p> Out of stock </p>-->

          <%# end %>
          <!--<p> <%#= link_to 'Add to cart', product_items_path, method: :post %><i class="fa fa-shopping-cart"></i></p>-->
          <%= button_to product_product_items_path( @product), class: 'buttons' do %>
          <i class="fa fa-shopping-cart"></i>Add to Cart
         <% end %>
        </div>
  
   
    </div>

      
   <div class="col-xs-12 col-sm-6 center-block" >
    
  <%= image_tag @product.image.url(:medium), class: "img-responsive"  %>

  

  </div>
 

  </div>  
  
</div>

